Package: com.greg0109.flashnotify
Name: FlashNotify
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Greg0109
Author: Greg0109
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
